@font-face {
    font-family: Greatest Showman;
    src: url(/font/The\ Greatest\ Font.otf);
  }

  @font-face {
  font-family: Moana;
  src: url(/font/Moanas.ttf);
}

:root {
    /* change the values below to your chosen font(s) */
    --heading-font: "Moana";
    --paragraph-font: "Greatest Showman";
  }
  

/* every grid box should be as 10px as the site plan,
I'm trying to shape all content as the siteplan like
a puzzle for preschoolers where this class or id goes
to wheere I think it fits in, just like this amazon link.
https://www.amazon.com/Roberly-Montessori-Geometric-Preschool-Educational/dp/B0CGLPRHR9/ref=asc_df_B0CGLPRHR9?tag=bingshoppinga-20&linkCode=df0&hvadid=80401884651452&hvnetw=o&hvqmt=e&hvbmt=be&hvdev=c&hvlocint=&hvlocphy=&hvtargid=pla-4584001441429762&psc=1 */

body{
    /* 500px_by_550px  */
    text-align: center;
    display: grid;
    grid-template-rows: repeat(55, 10px);
    grid-template-columns: repeat(50, 10px);
    background-color: #D4AC0D;
  }
  /* to_from */
  form {
    font-family: var(--paragraph-font);
    display: inline-block;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  .guest_key, .communicate_key{
    font-family: var(--paragraph-font);
  }
  header{
    grid-column-start: 1;
    grid-column-end: 51;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  footer{
    grid-row-start: 46;
    grid-row-end: 56;
    grid-column-start: 1;
    grid-column-end: 51;
  }
  main{
    grid-column-start: 1;
    grid-column-end: 51;
    grid-row-start: 6;
    grid-row-end: 46;
  }
  .Copyright{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 48;
    grid-row-end: 49;
    width: 100%;
    height: 100%;
  }
  .Page2f{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 49;
    grid-row-end: 50;
    width: 100%;
    height: 100%;
  }
  .Page3f{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 50;
    grid-row-end: 51;
    width: 100%;
    height: 100%;
  }
  .Page2h{
    font-family: var(--heading-font);
    grid-column-start: 11;
    grid-column-end: 26;
    grid-row-start: 1;
    grid-row-end: 6;
    width: 100%;
    height: 100%;

  }
  .Page3h{
    font-family: var(--heading-font);
    grid-column-start: 41;
    grid-column-end: 46;
    grid-row-start: 1;
    grid-row-end: 6;
    width: 100%;
    height: 100%;

  }
  .discord{
    grid-column-start: 41;
    grid-column-end: 46;
    grid-row-start: 46;
    grid-row-end: 51;
    width: 100%;
    height: 100%;
  }
  
  .instagram{
    grid-column-start: 46;
    grid-column-end: 51;
    grid-row-start: 46;
    grid-row-end: 51;
    width: 100%;
    height: 100%;
  }
  .X{
    grid-column-start: 46;
    grid-column-end: 51;
    grid-row-start: 51;
    grid-row-end: 56;
    width: 100%;
    height: 100%;
  }
  .FB{
    grid-column-start: 41;
    grid-column-end: 46;
    grid-row-start: 51;
    grid-row-end: 56;
    width: 10px;
    height: 10px;
  }
  input{
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    grid-column-start: 11;
    grid-column-end: 41;
    grid-row-start: 11;
    grid-row-end: 36;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
  }
  .canned_phone{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 21;
    grid-row-end: 31;
    width: 100%;
    height: 100%;
  }
  .main_phone{
    grid-column-start: 41;
    grid-column-end: 51;
    grid-row-start: 21;
    grid-row-end: 31;
    width: 100%;
    height: 100%;
  }
  .logo_link{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 6;
    width: 100px;
    height: 50px;
  }
  .wcom{
    font-family: var(--paragraph-font);
    grid-column-start: 20;
    grid-column-end: 32;
    grid-row-start: 7;
    grid-row-end: 14;
    width: 100%;
    height: 100%;
  }
  .site_plan_f{
    font-family: var(--paragraph-font);
  }
  #myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
  }

  .container { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100vh; 
    background-color: rgb(0, 61, 0); 
} 
  
h1 { 
    color: rgb(10, 238, 10); 
    text-align: center; 
} 
  
.digit { 
    font-size: 150px; 
    color: #fff; 
} 
  
.txt { 
    font-size: 30px; 
    color: #fffcd6; 
} 
  
#buttons { 
    margin-top: 50px; 
} 
  
.btn { 
    width: 100px; 
    padding: 10px 15px; 
    margin: 0px 20px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 4px; 
    border-top-left-radius: 4px; 
    cursor: pointer; 
    font-size: 20px; 
    transition: 0.5s; 
    color: white; 
    font-weight: 500; 
}
.btn_stop{
    width: 100px; 
    padding: 10px 15px; 
    margin: 0px 20px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 4px; 
    border-top-left-radius: 4px; 
    cursor: pointer; 
    font-size: 20px; 
    transition: 0.5s; 
    color: red; 
    font-weight: 500; 
} 
  
#start { 
    background-color: #009779; 
} 
  
#stop { 
    background-color: #0e85fc; 
} 
  
#reset { 
    background-color: #c91400; 
}
  
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;
}