@font-face {
    font-family: Greatest Showman;
    src: url(/font/TheGreatestFont.otf);
  }

  @font-face {
  font-family: Moana;
  src: url(/font/Moanas.ttf);
}

:root {
    /* change the values below to your chosen font(s) */
    --heading-font: "Moana";
    --paragraph-font: "Greatest Showman";
  }
  

/* every grid box should be as 10px as the site plan,
I'm trying to shape all content as the siteplan like
a puzzle for preschoolers where this class or id goes
to wheere I think it fits in, just like this amazon link.
https://www.amazon.com/Roberly-Montessori-Geometric-Preschool-Educational/dp/B0CGLPRHR9/ref=asc_df_B0CGLPRHR9?tag=bingshoppinga-20&linkCode=df0&hvadid=80401884651452&hvnetw=o&hvqmt=e&hvbmt=be&hvdev=c&hvlocint=&hvlocphy=&hvtargid=pla-4584001441429762&psc=1 */

body{
    background-color: #D4AC0D;
  }
  /* to_from */
  form {
    font-family: var(--paragraph-font);
    display: inline-block;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  .guest_key, .communicate_key{
    font-family: var(--paragraph-font);
  }
  footer{
    display: grid;
    grid-template-columns: repeat(20, auto);
    grid-template-rows: 100px 50px 50px 50px;
    
  }
  header{
    display: grid;
    align-items: center;
    grid-template-columns: 150px 1fr;
    margin-left: 0px;
    margin-top: 0px;
  }
  .logo_link{
    margin-left: 0px;
  }
  .Copyright{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
  }
  .Page2f{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
  }
  .Page3f{
    grid-column: 1/2;
    grid-row: 4/5;
    width: 100%;
    height: 100%;
  }
  .female{
    grid-column:1/2;
    grid-row:1/2;
    width: 100%;
    height: 100%;
  }
  .gram{
    grid-column:3/4;
    grid-row:3/4;
    width: 100%;
    height: 100%;
  }
  .guy1{
    grid-column:1/2;
    grid-row:3/4;
    width: 100%;
    height: 100%;
  }
  .guy2{
    grid-column:3/4;
    grid-row:1/2;
    width: 100%;
    height: 100%;
  }
  
  .nav_2, .nav_3{
    display: grid;
    grid-row: 1/2;
    grid-column: 2/3;
    grid-template-columns:10% 90%;
    grid-template-rows: 50% 50%;
  }

  .calor_2, .colar_3, .colar_2, .calor_3{
    background-color: #396E94;
  }
  .colar_2{
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .colar_3{
    grid-row: 3/4;
    grid-column: 3/4;
  }
  .Page2h, .Page3h{
    font-family: var(--heading-font);
    margin-left: 300px;
    margin-top: 20px;
    font-size:xx-large;
    width: 100%;
    height: 100%;
  }
  .Page3h{
    margin-left: 310px;
  }
  .discord, .instagram, .FB, .X{
    width: 100px;
    height: 100px;
  }
  .discord{
    grid-column:17/18 ;
    grid-row: 2/4;
  }
  .instagram{
    grid-column:18/19 ;
    grid-row: 2/4;
  }
  .X{
    grid-column:18/19 ;
    grid-row: 1/2
  }
  .FB{
    grid-column:17/18 ;
    grid-row: 1/2;
  }
  input{
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    grid-column-start: 11;
    grid-column-end: 41;
    grid-row-start: 11;
    grid-row-end: 36;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
  }
  .index_1{
    display:grid;
    grid-template-columns:  25% 50% 25%;
    grid-template-rows: 100px 400px 250px;
  }
  .mic_2, .cam_3{
    display: grid;
    grid-template-columns: 20% 40% 20%;
    grid-template-rows: 200px 400px 200px 100px;
  }
  .site_plan_f, .Page2f, .Page3f{
    font-family: var(--paragraph-font);
    font-size: xx-large;
  }
  .site_plan_f{
    grid-column: 1/4;
    grid-row: 2/3
  }
  #myProgress {
    width: 100%;
    height: 30px;
    background-color: grey;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
  }
  .white3, .white4{
    background-color: #396E94;
  }
  .white2{
    background-color: white;
    grid-row: 2/3;
    grid-column: 2/3;
  }

.rewind, #move, .FastF, #reset{
  font-size: xx-large;
}
.canned_phone, .main_phone{
  height: 100%;
  width: 100%;
}
.canned_phone{
  grid-column: 3/4;
  grid-row: 2/3;
}
.main_phone{
  grid-column: 1/2;
  grid-row: 2/3;
}
form{
  width: 96%;
  height: 90%;
  grid-row: 2/3;
} 
  
h1, .wcom{ 
  text-align: center;
  color: rgb(10, 238, 10); 
  font-family: var(--paragraph-font);
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
    
} 
.request_mic, .request_cam{
  font-size:xxx-large;
  background-color: black;
}
/* .whappens{
  margin-left: 25%;
} */
.digit { 
    font-size: 150px; 
    color: #fff; 
} 
  
.txt { 
    font-size: 30px; 
    color: #fffcd6; 
} 
  
#start { 
    background-color: #009779; 
} 
  
#stop { 
    background-color: #0e85fc; 
} 

#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  /* make this element invisible until we are ready for it */
  display: none;
}